<!DOCTYPE html>
<html>
  <head>
    <title>The Minimal React Webpack Babel Setup</title>
    <!--  when using webpack, add a link to the generated css (webpack-dev-server just adds a <style> tag to the page ) <link rel="stylesheet" href="/app.css">  -->
  </head>
  <!-- now that we're using tachyons css, let's use some of its classes -->
  <body class="w-100 sans-serif">
    <main class="bg-white bt b--black-10">
      <header class="tc pv4 pv5-ns">
        <h1 class="f5 f4-ns fw6 mid-gray">Routes example </h1>
        <h2 class="f6 gray fw2 ttu tracked">click one of the routes below to switch views</h2>
      </header>

      <div class="pv4 ph3 ph5-ns">
        <p>app here: </p>
        <div id="app"></div>
      </div>
    </main>


    <!--  when generating with webpack, add <script src="/app.bundle.js"></script> -->
  </body>
</html>
